<!-- Section Add REFERENCES -->
                @if (CVModel.CV.Refernces is not null)
                {
                <br />
                <h4>Your Reference</h4>
                <button type="button" class="btn btn-outline-primary" @onclick="()=> CVModel.CV.Refernces.Create()"> Add Reference</button><br />
                    @for (int i = 0; i < CVModel.CV.Refernces!.Count; i++)
                    {
                            <br />
                        var j = i;
                        @if (!CRUD.IsInEditState)
                        {
                            @if (!CVModel.CV.Refernces[j].InEditState)        
                            {     
                                <div style="float: left">
                                    <button type="button"  style="display: block" class="arrow up" @onclick="()=>CVModel.CV.Refernces.MoveUp(j) "></button>
                                    <button type="button" class="arrow down" @onclick="()=>CVModel.CV.Refernces.MoveDown(j) "> </button>
                                </div>
                                <div style="margin-left: 55px">
                                    <button type="button" class="btn btn-outline-secondary" @onclick="()=>CVModel.CV.Refernces.StartEdit(j)">Edit </button>
                                </div>
                            }
                        }
                                @if (CVModel.CV.Refernces[j].InEditState)
                                {                   
                                    <button type="button" class="btn btn-outline-dark" @onclick="()=>CVModel.CV.Refernces.Cancel()">Cancel</button>
                                    <button type="button" class="btn btn-outline-success" @onclick="()=>CVModel.CV.Refernces.Save()">Save</button>
                                    <button type="button" class="btn btn-outline-danger" @onclick="()=>CVModel.CV.Refernces.Delete()">Delete</button>   
                                }
                        if(CVModel.CV.Refernces![j].InEditState)
                        {
                             <div class="labeldata">
                               <label>Name</label>
                               <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].Name"/>
                               <ValidationMessage For ="(()=> CVModel.CV.Refernces[j].Name)" />
                           </div>
                           <div class="labeldata">
                                <label>Company</label>
                                <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].WorkPlace"/>
                                <ValidationMessage For="(()=>CVModel.CV.Refernces[j].WorkPlace)" />
                           </div>
                           <div class="labeldata">
                                    <label>Job Title</label>
                                    <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].JobTitle"/>
                                    <ValidationMessage For ="(()=> CVModel.CV.Refernces[j].JobTitle)"/>
                           </div>
                           <div class="labeldata">
                                    <label>Address</label>
                                    <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].Address"/>
                            </div> 
                            <div class="labeldata">
                                    <label>Phone</label>
                                    <InputText class="form-control" @bind-Value="CVModel.CV.Refernces[j].Phone"/>
                                    <ValidationMessage For="(()=>CVModel.CV.Refernces[j].Phone)" />
                            </div>
                             <div class="labeldata">
                                    <label>Email</label>
                                    <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].Email"/>
                                    <ValidationMessage For ="(()=>CVModel.CV.Refernces[j].Email)" />
                            </div>
                        }
                        else
                        {
                            <div class="labeldata">
                               <label>Name</label>
                                <label class="form-control">@CVModel.CV.Refernces[j].Name</label>
                               <ValidationMessage For ="(()=> CVModel.CV.Refernces[j].Name)" />
                           </div>
                           <div class="labeldata">
                                <label>Company</label>
                                <label class="form-control">@CVModel.CV.Refernces[j].WorkPlace</label>
                                <ValidationMessage For="(()=>CVModel.CV.Refernces[j].WorkPlace)" />
                            </div>
                           <div class="labeldata">
                                    <label>Job Title</label>
                                    <label class="form-control">@CVModel.CV.Refernces[j].JobTitle</label>
                                    <ValidationMessage For ="(()=> CVModel.CV.Refernces[j].JobTitle)"/>
                           </div>
                           <div class="labeldata">
                                    <label>Address</label>
                                    <label class="form-control">  @(CVModel.CV.Refernces[j].Address ?? string.Empty)  </label>
                            </div> 
                            <div class="labeldata">
                                    <label>Phone</label>
                                    <label class="form-control">@CVModel.CV.Refernces[j].Phone</label>
                                     <ValidationMessage For="(()=>CVModel.CV.Refernces[j].Phone)" />
                             </div>
                             <div class="labeldata">
                                    <label>Email</label>
                                    <label class="form-control">@CVModel.CV.Refernces[j].Email</label>
                                    <ValidationMessage For ="(()=>CVModel.CV.Refernces[j].Email)" />
     </div>
                        }                 
                }
          }
    <br />