<!-- Section Add REFERENCES -->
@if (CVModel.CV.References is not null)
{
    <br />
    <h4>Your References</h4>
    @for (int i = 0; i < CVModel.CV.References!.Count; i++)
    {
        <br />
        var j = i;
        @if (!CRUD.IsInEditState)
        {
            @if (!CVModel.CV.References[j].InEditState)
            {
                <div style="float: left">
                    <button type="button" style="display: block" class="arrow up p-2 m-2" @onclick="()=>CVModel.CV.References.MoveUp(j) "></button>
                    <button type="button" class="arrow down p-2 m-2" @onclick="()=>CVModel.CV.References.MoveDown(j) "> </button>
                </div>
                <div style="margin-left: 55px">
                    <button type="button" class="btn btn-warning" @onclick="()=>CVModel.CV.References.StartEdit(j)">Edit </button>
                </div>
            }
        }
        @if (CVModel.CV.References[j].InEditState)
        {
            <button type="button" class="btn btn-dark" @onclick="()=>CVModel.CV.References.Cancel()">Cancel</button>
            <button type="submit" class="btn btn-success" @onclick="()=>CVModel.CV.References.Save()">Save</button>
            <button type="button" class="btn btn-danger" @onclick="()=>CVModel.CV.References.Delete()">Delete</button>
        }
        if (CVModel.CV.References![j].InEditState)
        {
            <div class="labeldata  p-2">
                <label for='@("Name-"+j)'>Name</label>
                <InputText maxlength="50" placeholder="Enter Refernce Name" class="form-control " @bind-Value="CVModel.CV.References[j].Name" id='@("Name-"+j)' />
                <ValidationMessage For="(()=> CVModel.CV.References[j].Name)" />
            </div>
            <div class="labeldata  p-2">
                <label for='@("Company-"+j)'>Company</label>
                <InputText maxlength="50" placeholder="Enter Company Name" class="form-control" @bind-Value="CVModel.CV.References[j].WorkPlace" id='@("Company-"+j)' />
                <ValidationMessage For="(()=>CVModel.CV.References[j].WorkPlace)" />
            </div>
            <div class="labeldata  p-2">
                <label for='@("JobTitle-"+j)'>Job Title</label>
                <InputText maxlength="50" placeholder="Enter Job Title" class="form-control" @bind-Value="CVModel.CV.References[j].JobTitle" id='@("JobTitle-"+j)' />
                <ValidationMessage For="(()=> CVModel.CV.References[j].JobTitle)" />
            </div>
            <div class="labeldata ">
                <label for='@("Address-"+j)'>Address</label>
                <AddressInput Id='@("Address-"+j)' Address="CVModel.CV.References[j]!.Address" />
                <ValidationMessage For="(()=>CVModel.CV.References[j].Address)" />
            </div>
            <div class="labeldata  p-2">
                <label for='@("Phone-"+j)'>Phone</label>
                <InputText maxlength="15" placeholder="Enter Phone" class="form-control" @bind-Value="CVModel.CV.References[j].Phone" id='@("Phone-"+j)' />
                <ValidationMessage For="(()=>CVModel.CV.References[j].Phone)" />
            </div>
            <div class="labeldata  p-2">
                <label for='@("Email-"+j)'>Email</label>
                <InputText maxlength="50" placeholder="Enter Email" class="form-control" @bind-Value="CVModel.CV.References[j].Email" id='@("Email-"+j)' />
                <ValidationMessage For="(()=>CVModel.CV.References[j].Email)" />
            </div>
            <div class="labeldata  p-2">
                <label for='@($"Data-{j}")'>Data</label>
                <InputText placeholder="Enter Refrance Data / Link" class="form-control" @bind-Value="CVModel.CV.References[j].Data!.Value" maxlength="100" id='@($"Data-{j}")' />
                <ValidationMessage For="@(()=> CVModel.CV.References[j].Data!.Value)" />
                <InputCheckbox class="form-check-input" id='@($"LinkCB-{j}")' @bind-Value="CVModel.CV.References[j].Data!.IsLink" />
                <label for='@($"LinkCB-{j}")' class="form-check-label"> Set as link</label>
                @if (CVModel.CV.References[j].Data!.IsLink)
                {
                    <br />
                    <label for='@($"Link-{j}")'>Link</label>
                    <InputText placeholder="Enter Link / URL" class="form-control" id='@($"Link-{j}")' @bind-Value="CVModel.CV.References[j].Data!.Link" />
                    <ValidationMessage For="@(()=> CVModel.CV.References[j].Data!.Link)" />
                }
            </div>
        }
        else
        {
            <div class="labeldata  p-2">
                <label>Name</label>
                <label class="form-control">@CVModel.CV.References[j].Name</label>
            </div>
            <div class="labeldata  p-2">
                <label>Company</label>
                <label class="form-control">@CVModel.CV.References[j].WorkPlace</label>
            </div>
            <div class="labeldata  p-2">
                <label>Job Title</label>
                <label class="form-control">@CVModel.CV.References[j].JobTitle</label>
            </div>
            <div class="labeldata  p-2">
                <label>Address</label>
                <label class="form-control">@CVModel.CV.References[j].Address?.FullAddress()</label>
            </div>
            <div class="labeldata  p-2">
                <label>Phone</label>
                <label class="form-control">@CVModel.CV.References[j].Phone</label>
            </div>
            <div class="labeldata  p-2">
                <label>Email</label>
                <label class="form-control">@CVModel.CV.References[j].Email</label>
            </div>
            <div class="labeldata  p-2">
                <label>Data</label>
                <label class="form-control" id="Data">@CVModel.CV.References[j].Data!.Value</label>
                @if (CVModel.CV.References[j].Data!.IsLink)
                {
                    <label>link</label>
                    <label class="form-control" id="Data">@CVModel.CV.References[j].Data!.Link</label>
                }
            </div>
        }
    }
}
<br />
<button type="submit" class="btn btn-primary" @onclick="()=> CVModel.CV.References.Create()"> Add Reference</button>
<br />