<!-- Section Add REFERENCES -->
                @if (CVModel.CV.Refernces is not null)
                {
                <br />
                <hr />
                <h4>Your Reference</h4>
                <button type="button" class="btn btn-primary" @onclick="()=> CVModel.CV.Refernces.Create()"> Add Reference</button>
                    @for (int i = 0; i < CVModel.CV.Refernces!.Count; i++)
                    {
                            <br />
                            <hr />
                        var j = i;
                        @if (!CRUD.IsInEditState)
                        {
                            @if (!CVModel.CV.Refernces[j].InEditState)        
                            {              
                                <button type="button" class="btn btn-primary" @onclick="()=>CVModel.CV.Refernces.MoveUp(j) ">&uarr;</button>         
                                <button type="button" class="btn btn-primary" @onclick="()=>CVModel.CV.Refernces.MoveDown(j) ">&darr; </button>        
                                <button type="button" class="btn btn-primary" @onclick="()=>CVModel.CV.Refernces.StartEdit(j) ">Edit </button>
                            }
                        }
                                @if (CVModel.CV.Refernces[j].InEditState)
                                {                   
                                    <button type="button" class="btn btn-outline-dark" @onclick="()=>CVModel.CV.Refernces.Cancel()">Cancel</button>
                                    <button type="button" class="btn btn-outline-success" @onclick="()=>CVModel.CV.Refernces.Save()">Save</button>
                                    <button type="button" class="btn btn-outline-danger" @onclick="()=>CVModel.CV.Refernces.Delete()">Delete</button>   
                                }
                        if(CVModel.CV.Refernces![j].InEditState)
                        {
                             <div class="form-group">
                               <label>Name</label>
                               <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].Name"/>
                           </div>
                           <div class="form-group">
                                <label>Company</label>
                                <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].WorkPlace"/>
                           </div>
                           <div class="form-group">
                                    <label>Job Title</label>
                                    <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].JobTitle"/>
                           </div>
                           <div class="form-group">
                                    <label>Address</label>
                                    <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].Address"/>
                            </div> 
                            <div class="form-group">
                                    <label>Phone</label>
                                    <InputText class="form-control" @bind-Value="CVModel.CV.Refernces[j].Phone"/>
                            </div>
                             <div class="form-group">
                                    <label>Email</label>
                                    <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[j].Email"/>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                               <label>Name</label>
                                <label class="form-control">@CVModel.CV.Refernces[j].Name</label>
                           </div>
                           <div class="form-group">
                                <label>Company</label>
                                <label class="form-control">@CVModel.CV.Refernces[j].WorkPlace</label>
                           </div>
                           <div class="form-group">
                                    <label>Job Title</label>
                                    <label class="form-control">@CVModel.CV.Refernces[j].JobTitle</label>
                           </div>
                           <div class="form-group">
                                    <label>Address</label>
                                    <label class="form-control">@CVModel.CV.Refernces[j].Address</label>
                            </div> 
                            <div class="form-group">
                                    <label>Phone</label>
                                    <label class="form-control">@CVModel.CV.Refernces[j].Phone</label>
                            </div>
                             <div class="form-group">
                                    <label>Email</label>
                                    <label class="form-control">@CVModel.CV.Refernces[j].Email</label>
                            </div>
                        }                 
                }
          }
    <br />
    <hr />