@if (CVModel.CV.Educations is not null)
{
    <br />
    <h4>Your Education</h4>
    @for (int i = 0; i < CVModel.CV.Educations!.Count; i++)
    {
        <br />
        var j = i;
        @if (!CRUD.IsInEditState)
        {
            @if (!CVModel.CV.Educations[j].InEditState)
            {
                <div style="float: left">
                    <button type="button" style="display: block" class="arrow up p-2 m-2" @onclick="()=>CVModel.CV.Educations.MoveUp(j) "></button>
                    <button type="button" class="arrow down p-2 m-2" @onclick="()=>CVModel.CV.Educations.MoveDown(j) "></button> <br />
                </div>
                <div style="margin-left: 55px">
                    <button type="button" class="btn btn-outline-warning" @onclick="()=>CVModel.CV.Educations.StartEdit(j) ">Edit </button><br />
                </div>
            }
        }
        @if (CVModel.CV.Educations[j].InEditState)
        {
            <button type="button" class="btn btn-outline-dark" @onclick="()=>CVModel.CV.Educations.Cancel()">Cancel</button>
            <button type="submit" class="btn btn-outline-success" @onclick="()=>CVModel.CV.Educations.Save()">Save</button>
            <button type="button" class="btn btn-outline-danger" @onclick="()=>CVModel.CV.Educations.Delete()">Delete</button>
            <div class="labeldata  p-2">
                <label for='@($"SchoolName-{j}")'>School Name</label>
                <InputText id='@($"SchoolName-{j}")' placeholder="Enter School Name" maxlength="50" class="form-control" @bind-Value="CVModel.CV.Educations![j].LocationName" />
                <ValidationMessage For="@(()=> CVModel.CV.Educations![j].LocationName)" />
            </div>
            <div class="labeldata  p-2">
                <label for='@($"Date-{j}")'>Date </label>
                <DateInput id='@($"Date-{j}")' Date="CVModel.CV.Educations![j].Date" />
                <ValidationMessage For="@(()=> CVModel.CV.Educations![j].Date)" />
            </div>
        }
        else
        {
            <div class="labeldata  p-2">
                <label>School Name</label>
                <label class="form-control" id="LocationName">@CVModel.CV.Educations![j].LocationName</label>
            </div>
            <div class="labeldata  p-2">
                <label>Date </label>
                <label class="form-control">@CVModel.CV.Educations![j].Date.FullDate() </label>
            </div>
        }
        <br />
        <hr />
        @for (int x = 0; x < CVModel.CV.Educations[j].Data!.Count; x++)
        {
            <br />
            var y = x;
            @if (!CRUD.IsInEditState)
            {
                @if (!CVModel.CV.Educations[j].Data![y].InEditState)
                {
                    <div style="float: left">
                        <button type="button" style="display: block" class="arrow up p-2 m-2" @onclick="()=>CVModel.CV.Educations[j].Data.MoveUp(y) "></button>
                        <button type="button" class="arrow down p-2 m-2" @onclick="()=>CVModel.CV.Educations[j].Data.MoveDown(y) "> </button>
                    </div>
                    <div style="margin-left: 55px">
                        <button type="button" class="btn btn-outline-warning" @onclick="()=>CVModel.CV.Educations[j].Data.StartEdit(y) ">Edit </button>
                    </div>
                }
            }
            @if (CVModel.CV.Educations![j].Data![y].InEditState)
            {
                <button type="button" class="btn btn-outline-dark" @onclick="()=>CVModel.CV.Educations[j].Data.Cancel()">Cancel</button>
                <button type="submit" class="btn btn-outline-success" @onclick="()=>CVModel.CV.Educations[j].Data.Save()">Save</button>
                <button type="button" class="btn btn-outline-danger" @onclick="()=>CVModel.CV.Educations[j].Data.Delete()">Delete</button>
                <div class="labeldata  p-2">
                    <label for='@($"Data-{j}-{y}")'>Data</label>
                    <InputText class="form-control" placeholder="Enter school Activities / Degrees / Education Type" id='@($"Data-{j}-{y}")' @bind-Value="CVModel.CV.Educations[j].Data![y].Value" maxlength="100" />
                    <ValidationMessage For="@(()=> CVModel.CV.Educations[j].Data![y].Value)" />
                    <InputCheckbox class="form-check-input" id='@($"IsLink-{j}-{y}")' @bind-Value="CVModel.CV.Educations[j].Data![y].IsLink" />
                    <label for='@($"IsLink-{j}-{y}")' class="form-check-label"> Set as link</label>
                    @if (CVModel.CV.Educations[j].Data![y].IsLink)
                    {
                        <br />
                        <label for='@($"Link-{j}-{y}")'>Link</label>
                        <InputText class="form-control" placeholder="Enter Link / URL" id='@($"Link-{j}-{y}")' @bind-Value="CVModel.CV.Educations[j].Data![y].Link" />
                        <ValidationMessage For="@(()=> CVModel.CV.Educations[j].Data![y].Link)" />
                    }
                </div>
            }
            else
            {
                <div class="labeldata  p-2">
                    <label>Data</label>
                    <label class="form-control" id="Data">@CVModel.CV.Educations[j].Data![y].Value</label>
                    @if (CVModel.CV.Educations[j].Data![y].IsLink)
                    {
                        <label>link</label>
                        <label class="form-control" id="Data">@CVModel.CV.Educations[j].Data![y].Link</label>
                    }
                </div>
            }
        }
        <br />
        <button type="submit" class="btn btn-outline-primary" @onclick="()=>CVModel.CV.Educations[j].Data.Create()">Add Experience Data</button>
        <br />
        <hr />
    }
}
<br />
<button type="submit" class="btn btn-outline-primary" @onclick="()=>CVModel.CV.Educations.Create()">Add Education</button>
<br />