@if (CVModel.CV.Certifications is not null)
{
    <br />
    <h4>Your Certifications </h4>
    @for (int i = 0; i < CVModel.CV.Certifications.Count; i++)
    {
        <br />
        var j = i;
        @if (!CRUD.IsInEditState)
        {
            @if (!CVModel.CV.Certifications[j].InEditState)
            {
                <div style="float: left">
                    <button type="button" style="display: block" class="arrow up" @onclick="()=>CVModel.CV.Certifications.MoveUp(j) "></button>
                    <button type="button" class="arrow down" @onclick="()=>CVModel.CV.Certifications.MoveDown(j) "></button>
                </div>
                <div style="margin-left: 55px">
                    <button type="button" class="btn btn-outline-secondary" @onclick="()=>CVModel.CV.Certifications.StartEdit(j) ">Edit </button><br />
                </div>
            }
        }
        @if (CVModel.CV.Certifications[j].InEditState)
        {
            <button type="button" class="btn btn-outline-dark" @onclick="()=>CVModel.CV.Certifications.Cancel()">Cancel</button>
            <button type="submit" class="btn btn-outline-success" @onclick="()=>CVModel.CV.Certifications.Save()">Save</button>
            <button type="button" class="btn btn-outline-danger" @onclick="()=>CVModel.CV.Certifications.Delete()">Delete</button>
            <div class="labeldata  p-2">
                <label for='@($"Data-{j}")'>Data</label>
                <InputText maxlength="100" class="form-control" @bind-Value="CVModel.CV.Certifications[j].Data.Value" id='@($"Data-{j}")' />
                <ValidationMessage For="@(()=> CVModel.CV.Certifications![j].Data.Value)" />
                <InputCheckbox class="form-check-input" id='@($"IsLink-{j}")' @bind-Value="CVModel.CV.Certifications[j].Data.IsLink" />
                <label for='@($"IsLink-{j}")' class="form-check-label"> Set as link</label>
                @if (CVModel.CV.Certifications[j].Data.IsLink)
                {
                    <br />
                    <label for='@($"Link-{j}")'>Link</label>
                    <InputText class="form-control" id='@($"Link-{j}")' @bind-Value="CVModel.CV.Certifications[j].Data.Link" />
                    <ValidationMessage For="@(()=> CVModel.CV.Certifications[j].Data.Link)" />
                }
            </div>
            <div class="labeldata  p-2">
                <label for='@($"Date-{j}")'>Date </label>
                <DateInput id='@($"Date-{j}")' Date="CVModel.CV.Certifications[j].Date" />
                <ValidationMessage For="@(()=> CVModel.CV.Certifications[j].Date)" />
            </div>
        }
        else
        {
            <div class="labeldata  p-2">
                <label>Data</label>
                <label class="form-control">@CVModel.CV.Certifications[j].Data.Value</label>
                @if (CVModel.CV.Certifications[j].Data.IsLink)
                {
                    <label>link</label>
                    <label class="form-control" id="Data">@CVModel.CV.Certifications[j].Data.Link</label>
                }
            </div>
            <div class="labeldata  p-2">
                <label>Date </label>
                <label class="form-control">@CVModel.CV.Certifications[j].Date.FullDate() </label>
            </div>
        }
    }
}
<br />
<button type="submit" class="btn btn-outline-primary" @onclick="()=>CVModel.CV.Certifications.Create()">Add Certification</button>
<br />