@page "/Form"
 @inject IJSRuntime JSRuntime

<div class="container CV_container">
<div class="row">
   <ErrorBoundary>
   <ChildContent>
<div class="col-sm-4 p-2">


<EditForm Model="@this" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <!-- Section Add Personal Data -->
    <h4>Your Personal Data</h4>
    <div class="form-group">
                <label>Name</label>
                <InputText class="form-control" id="name" @bind-Value="CVModel.CV.PersonalData.Name"/>
    </div>
    <div class="form-group">
                <label>Email</label>
                <InputText class="form-control" id="Email" @bind-Value="CVModel.CV.PersonalData.Email"/>
    </div>
    <div class="form-group">
                <label>Phone</label>
                <InputText class="form-control" id="Phone" @bind-Value="CVModel.CV.PersonalData.Phone"/>
    </div>
     <div class="form-group">
                <label>Address</label>
                <InputText class="form-control" id="Address" @bind-Value="CVModel.CV.PersonalData.Address"/>
    </div>
    @****************************************************************************************************************************@
    <!-- Section Add New Education  -->
            <br />
            <hr />
    <h4>Your Education</h4>
    @if(CVModel.CV.Educations is not null)
    {
        <button type="button" class="btn btn-primary" @onclick="()=>CVModel.CV.Educations.Add(new ())">Add Education</button>
        @for(int i = 0; i < CVModel.CV.Educations.Count; i++)
            {  <br />
               <hr />
                    var j = i;
                    <div class="form-group">
                        <label>School Name</label>
                        <InputText class="form-control" id="LocationName"  @bind-Value="CVModel.CV.Educations[j].LocationName"/>
                    </div>
                 
                    <div class="form-group">
                        <label>Year</label>
                        <InputText class="form-control" id="Year" @bind-Value="CVModel.CV.Educations[j].Year"/>
                    </div>
                    <!-- Section Add New Data Education  -->  
                    <br />
                    <button type="button" class="btn btn-primary" @onclick='()=>CVModel.CV.Educations[j].Data.Add(new ())'>Add Education Data</button>
                    @for(int x =0; x< CVModel.CV.Educations[j].Data.Count;x++)
                    {
                        <br />
                        <hr />
                        var z = x;
                        <div class="form-group">
                            <label>Data</label>
                            <InputText class="form-control" id="Data" @bind-Value="CVModel.CV.Educations[j].Data[z].Value"/>
                        </div>
                    }
                                
                              
            }
    } 
@****************************************** ADD New Experience **********************************************************************************@
<!-- ADD New Experience-->
<div class="Sub_container">
    <br />
    <hr />
    <h4>Your Experience</h4>
    @if(CVModel.CV.WorkExperience is not null)
    {
        <button type="button" class="btn btn-primary" @onclick="()=> CVModel.CV.WorkExperience.Add(new())">Add Work Experience</button>
        @for(int i=0; i< CVModel.CV.WorkExperience.Count; i++)
        {
            <br />
            <hr />
            var j = i;
            <div class="form-group">
            <label>Company Name</label>
            <InputText class="form-control" @bind-Value="CVModel.CV.WorkExperience[j].LocationName "/>
          </div>   
          <div class="form-group">
            <label>Year</label>
            <InputText class="form-control" @bind-Value="CVModel.CV.WorkExperience[j].Year "/>
        </div>
        <div class="form-group">
            <label>Job Title</label>
            <InputText class="form-control" @bind-Value="CVModel.CV.WorkExperience[j].JobTitle" />
        </div>
    <br />
     <button type="button" class="btn btn-primary" @onclick="()=>CVModel.CV.WorkExperience[j].Data.Add(new ())">Add Experience Data</button>

        @for(int x = 0; x< CVModel.CV.WorkExperience[j].Data.Count;x++ )
            {
               <br />
               <hr />
                var y =x;
                <div class="form-group" > 
                    <label>Data</label>
                    <input class="form-control" @bind-value="CVModel.CV.WorkExperience[j].Data[y].Value" />
                </div>
            }
        
        }
    }
</div>
@************************************** ADD New OTHER WORK EXPERIENCE **************************************************************@
<!-- ADD New OTHER WORK EXPERIENCE -->
<br />
<hr />
<div class="Sub_container">
    <h4>Your OTHER WORK EXPERIENCE</h4>
    @if(CVModel.CV.OtherExperience is not null)
    {
        <button type="button" class="btn btn-primary" @onclick="()=> CVModel.CV.OtherExperience.Add(new())">Add Other Work Experience</button>
        @for(int i=0; i< CVModel.CV.OtherExperience.Count; i++)
        {
            <br />
            <hr />
            var j = i;
            <div class="form-group">
            <label>Company Name</label>
            <InputText class="form-control" @bind-Value="CVModel.CV.OtherExperience[j].LocationName "/>
          </div>   
          <div class="form-group">
            <label>Year</label>
            <InputText class="form-control" @bind-Value="CVModel.CV.OtherExperience[j].Year "/>
        </div>
        <div class="form-group">
            <label>Job Title</label>
            <InputText class="form-control" @bind-Value="CVModel.CV.OtherExperience[j].JobTitle" />
        </div>
    <br />
     <button type="button" class="btn btn-primary" @onclick="()=>CVModel.CV.OtherExperience[j].Data.Add(new ())">Add  Experience Data</button>

        @for(int x = 0; x< CVModel.CV.OtherExperience[j].Data.Count;x++ )
            {
               <br />
               <hr />
                var y =x;
                <div class="form-group" > 
                    <label>Data</label>
                    <input class="form-control" @bind-value="CVModel.CV.OtherExperience[j].Data[y].Value" />
                </div>
            }
        
        }
    }
</div>
@*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ ADD Certification $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$**@

@if(CVModel.CV.Certifications is not null)
{
    <br />
    <hr />
    <h4>Your Certifications </h4>
    <button type="button" class="btn btn-primary" @onclick="()=>CVModel.CV.Certifications.Add(new())" >Add Certification</button> 
      @for(int k=0; k < CVModel.CV.Certifications.Count ;k++ )
      {
          <br />
          <hr />
          var N = k;
           <div class="form-group" > 
                    <label>Data</label>
                    <input class="form-control" @bind-value="CVModel.CV.Certifications[N].Value" />
           </div>

      }

}
@*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ ADD Professional Affeilations $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$**@

@if(CVModel.CV.ProfessionalAffeilations is not null)
{
    <br />
    <hr />
    <h4>Your Professional Affeilations</h4>
    <button type="button" class="btn btn-primary" @onclick="()=>CVModel.CV.ProfessionalAffeilations.Add(new())" >Add Professional Affeilations</button> 
      @for(int k=0; k < CVModel.CV.ProfessionalAffeilations.Count ;k++ )
      {
          <br />
          <hr />
          var N = k;
           <div class="form-group" > 
                    <label>Data</label>
                    <input class="form-control" @bind-value="CVModel.CV.ProfessionalAffeilations[N].Value" />
           </div>

      }

}
@*###########################################################################################*@
   <!-- Section Add REFERENCES -->
   @if(CVModel.CV.Refernces is not null)
    {
        <br /><hr />
        <h4>Your Reference</h4>
        <button type="button" class="btn btn-primary" @onclick="()=> CVModel.CV.Refernces.Add(new())"> Add Reference</button>
        @for(int i=0;i< CVModel.CV.Refernces.Count ; i++)
        {
            <br />
            <hr />
            var x=i;
           <div class="form-group">
               <label>Name</label>
               <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[x].Name"/>
           </div>
           <div class="form-group">
                <label>Company</label>
                <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[x].WorkPlace"/>
           </div>
           <div class="form-group">
                    <label>Job Title</label>
                    <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[x].JobTitle"/>
           </div>
           <div class="form-group">
                    <label>Address</label>
                    <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[x].Address"/>
            </div> 
            <div class="form-group">
                    <label>Phone</label>
                    <InputText class="form-control" @bind-Value="CVModel.CV.Refernces[x].Phone"/>
            </div>
             <div class="form-group">
                    <label>Email</label>
                    <InputText class="form-control"  @bind-Value="CVModel.CV.Refernces[x].Email"/>
            </div>                      
        }
                                     
    }

@*_________________________________________________________________________________________________________________________________**@
    <br /><hr />
    <button  @onclick ="()=>UiUpdate.NotifyStateChanged()" class="btn btn-primary">Create CV</button>

</EditForm>
</div>
  </ChildContent>    
    <ErrorContent>
        Errore
    </ErrorContent>
</ErrorBoundary>

</div>
</div>

<Index></Index>

@*########################################################### CV Templete #########################################################################*@
@*<div class="col-sm-6 p-2">
    <div class="card-body">
    	<!--PersonalData-->
		<div class="d-flex justify-content-center">
		<h1>   @CVModel.CV.PersonalData?.Name </h1>
		</div> 
		<div class="d-flex justify-content-center">
		<h4>@CVModel.CV.PersonalData?.Address </h4>
		</div> 	
		<div class="d-flex justify-content-center">
		<h4> @CVModel.CV.PersonalData?.Phone &ensp;   @CVModel.CV.PersonalData?.Email</h4>
		</div> 
    </div>
        <div class='@(CVModel.CV.Educations?.Count > 0  ? "_hr" :" ")'></div>
			<!--EDUCATION_Title-->
		<div class="Sub_container">
			@if (CVModel.CV.Educations is not null)
			{
				@if (CVModel.CV.Educations.Count > 0)
				{
						<div class="d-flex justify-content-Left">
							<h4><strong> EDUCATION </strong></h4>
						</div>
				}
				@foreach (var item in CVModel.CV.Educations)
				{
							<div class="d-flex justify-content-Left">
								<strong>@item.LocationName
									&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
							@item.Year</strong>
							</div>
							<!--EDUCATION_Data-->
					@if (item.Data is not null)
					{
						@foreach (var data in item.Data)
						{
											<div class="d-flex justify-content-Left">
												<strong>•</strong> &emsp; @data
											</div>
						}
					}
				}

			}
		</div>
</div>

</div>
</div>
*@



@*
//TODO
@for(int i; i < Count; i++)
{
var j = i
<input @bind="CVModel.CV.Educations[j].LocationName" />
}

*@
    
@code{
    protected override void OnInitialized() => UiUpdate.OnChange += StateHasChanged;
    public static int Count = 1 ;
    public static int count_DataEd = 1 ;
   //public Education  eduction  = new Education();
    public string Education_Data= "";
   
    private void HandleValidSubmit()
    {
        if(string.IsNullOrWhiteSpace(CVModel.CV.PersonalData?.Name) ){
            throw new Exception("Name was not entered");
        }
    }
    public void countincreament(){
        Count++;
       count_DataEd = 1 ;
     }
 
    public void count_Edu_increament(){
        count_DataEd++;

    }
}