<div class="shadow-sm p-3 mb-5   rounded">
    <h3> Select Sections to fill</h3>
    <ul role="listbox">
        @for (int i = 0; i < CVModel.ListOfTabs!.Count; i++)
        {
            var j = i;
            bool disabled = j is not 0 and not 1 && j != CVModel.ListOfTabs!.Count - 1 ? false : true;
            <li tabindex="@j" role="option">
                <div class="mb-0">
                    <input id="check-@j" type="checkbox" checked="@CVModel.ListOfTabs![j].IsSelected" disabled="@disabled"
                       @onchange="@((ChangeEventArgs __e) => CVModel.ListOfTabs![j].IsSelected = (bool)__e.Value!)">
                    <label for="check-@j">
                        @CVModel.ListOfTabs![j].TabName
                    </label>
                </div>
            </li>
        }
    </ul>
</div>