    <!-- Section Add Personal Data -->
<h4>Your Personal Data</h4>
 <div class="form-group  p-2">
    <label for='Name'>Name</label>
    <InputText maxlength="55" placeholder="Enter Your Name" class="form-control" id="Name" @bind-Value="CVModel.CV.PersonalData!.Name" />
    <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Name)" />
</div>
<div class="form-group  p-2">
    <label for='Email'>Email</label>
    <InputText maxlength="50" placeholder="Enter Your Email" class="form-control" id="Email" @bind-Value="CVModel.CV.PersonalData!.Email" />
    <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Email)" />
</div>
<div class="form-group  p-2">
    <label for='Phone'>Phone</label>
    <InputText maxlength="15" placeholder="Enter Your Phone" class="form-control" id="Phone" @bind-Value="CVModel.CV.PersonalData!.Phone" />
    <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Phone)" />
</div>
<div class="form-group  p-2">
    <label for='BirthDate'>Date Of Birth</label>
    <InputDate class="form-control" id="BirthDate" @bind-Value="CVModel.CV.PersonalData!.BirthDate" />
    <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.BirthDate)" />
</div>
<div class="form-group pt-2  ">
    <label for='Address' class="ps-2">Address</label>
    <AddressInput Id="Address" Address="CVModel.CV.PersonalData!.Address" />
</div>

<div class="form-group  p-2 ">
    <label for='Address'>Extra</label>
<div class="form-group pb-2  pt-2  ">
    <InputSelect  class="form-control" aria-label="MaritalStatus" @bind-Value="CVModel.CV.PersonalData!.MaritalStatus">
        <option value="" selected>Choose Marital Status</option>
        @foreach (var item in DateData.MaritalStatus())
        {
            <option value="@item">@item</option>
        }
    </InputSelect>
        <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.MaritalStatus)" />

</div>
<div class="form-group   pt-2">
    <InputSelect class="form-control" aria-label="MaritalStatus" @bind-Value="CVModel.CV.PersonalData!.MilitaryStatus">
        <option value="" selected>Choose Military Status</option>
        @foreach (var item in DateData.MilitaryStatus())
        {
            <option value="@item">@item</option>
        }
    </InputSelect>
        <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.MilitaryStatus)" />

</div>
    <div class="form-group   pt-2">
        <InputSummery Id="Summary" PersonalDataModel="CVModel.CV.PersonalData!"></InputSummery>
    </div>


</div>
<br />
<hr />
 
