<div class="shadow-sm p-3 mb-5   rounded">
	<h3> Select Sections to fill</h3>
	<ul role="listbox" id="listbox" aria-labelledby="listbox">
		@for (int i = 0; i < CVModel.CV.ListOfTabs!.Count; i++)
		{
			var j = i;
			bool disabled = (j is (0 or 1) && j == CVModel.CV.ListOfTabs!.Count - 1);
			<li tabindex="@j">
				<div class="mb-0">
					<input class="form-check-input" id="check-@j" type="checkbox" checked="@CVModel.CV.ListOfTabs![j].IsSelected" disabled="@disabled"
						   @onchange="@((ChangeEventArgs __e) => CVModel.CV.ListOfTabs![j].IsSelected = (bool)__e.Value!)">
					<label for="check-@j" class="form-check-label">
						@CVModel.CV.ListOfTabs![j].TabName
					</label>
				</div>
			</li>
		}
	</ul>
</div>
@code {
	protected override void OnInitialized() => StateContainer.OnChange += StateHasChanged;
}