@if (CVModel.CV is not null)
{
    <div class="CV_container">
        <!--PersonalData-->
        <div class="d-flex justify-content-center">
            <label class="fp-16">@CVModel.CV.PersonalData?.Name</label>
        </div>
        <div class="Sub_container">
            <div class='_hr'></div>
            <div class="d-flex justify-content-Left">
                <label class="f-9">PERSONAL INFORMATION</label>
            </div>
            <div class="d-flex justify-content-Left">
                <label class="f-12">
                    @(CVModel.CV.PersonalData?.BirthDate is not null ? $"Date Of Birth: {CVModel.CV.PersonalData?.BirthDate?.ToString("dd MMMM yyyy")}" : String.Empty )
                </label>
            </div>
            <div class="d-flex justify-content-Left">
                <label class="f-12">
                    Address: @CVModel.CV.PersonalData?.Address.FullAddress()
                </label>
            </div>
            <div class="d-flex justify-content-Left">
                <label class="f-12">
                    Mobile: @CVModel.CV.PersonalData?.Phone
                </label>
            </div>
            <div class="d-flex justify-content-Left">
                <label class="f-12">
                    Email: @CVModel.CV.PersonalData?.Email
                </label>
            </div>
            <div class="d-flex justify-content-Left">
                <label class="f-12">
                    @(CVModel.CV.PersonalData?.MaritalStatus is not null ? $"Marital Status: {CVModel.CV.PersonalData?.MaritalStatus}" : String.Empty )
                </label>
            </div>
            <div class="d-flex justify-content-Left">
                <label class="f-12">
                    @(CVModel.CV.PersonalData?.MilitaryStatus is not null ? $"Military Status: {CVModel.CV.PersonalData?.MilitaryStatus}" : String.Empty )
                </label>
            </div>
        </div>
          <!--Summery-->
          <div class="Sub_container">
            @if (string.IsNullOrWhiteSpace(CVModel.CV.PersonalData?.Summary) is false)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9">SUMMERY</label>
                    </div>
                    <div class="justify-content-Left">
                        <pre class="f-10">
                            @CVModel.CV.PersonalData?.Summary
                        </pre>
                    </div>
                }
        </div>
        <!--SOCIAL_Title-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.Social).IsSelected && CVModel.CV.Socials is not null)
            {
                @if (CVModel.CV.Socials.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9">SOCIAL INFO</label>
                    </div>
                }
                @foreach (var item in CVModel.CV.Socials)
                {
                    <div class="justify-content-Left">
                        <label class="f-12">
                            @item.PlatformlName:
                            @if (item.UserName is not null)
                            {

                                @if (item.UserName.IsLink)
                                {
                                    <NavLink href="@item.UserName.Link" target="_blank">@item.UserName.Value</NavLink>
                                }
                                else
                                {
                                    @item.UserName.Value
                                }    
                            }
                        </label>
                    </div>
                    <!--SOCIAL_Data-->
                }
            }
        </div>
        <!--EDUCATION_Title-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.Education).IsSelected && CVModel.CV.Educations is not null)
            {
                @if (CVModel.CV.Educations.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9">EDUCATION</label>
                    </div>
                }
                @foreach (var item in CVModel.CV.Educations)
                {
                    <div class="justify-content-Left">
                        <label class="f-12">
                            @item.LocationName
                            <span class="f-12" style="float:right;">@item.Date.FullDate()</span>
                        </label>
                    </div>
                    <!--EDUCATION_Data-->
                    @if (item.Data is not null)
                    {
                        @foreach (var data in item.Data)
                        {
                            <div class="d-flex justify-content-Left">
                                <label class="f-10">
                                    <strong>•</strong>
                                    &emsp;
                                    @if (data.IsLink)
                                    {
                                        <NavLink href="@data.Link" target="_blank">@data.Value</NavLink>
                                    }
                                    else
                                    {
                                        @data.Value
                                    }
                                </label>
                            </div>
                        }
                    }
                }
            }
        </div>
        <!--EXPERIENCE_Title-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.WorkExperience).IsSelected && CVModel.CV.WorkExperience is not null)
            {
                @if (CVModel.CV.WorkExperience.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9"> BUSINESS EXPERIENCE </label>
                    </div>
                }
                @foreach (var item in CVModel.CV.WorkExperience)
                {
                    <div class="justify-content-Left">
                        <label class="f-12">@item.LocationName <span class="f-12" style="float:right;">@item.Date.FullDate()</span></label>
                    </div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-10 fst-italic">@item.JobTitle</label>
                    </div>
                    <!--EXPERIENCE_Data-->
                    @if (item.Data is not null)
                    {
                        @foreach (var data in item.Data)
                        {
                            <div class="d-flex justify-content-Left">
                                <label class="f-10">
                                    <strong>•</strong>
                                    &emsp;
                                    @if (data.IsLink)
                                    {
                                        <NavLink href="@data.Link" target="_blank">@data.Value</NavLink>
                                    }
                                    else
                                    {
                                        @data.Value
                                    }
                                </label>
                            </div>
                        }
                    }
                }
            }
        </div>
        <!--OtherEXPERIENCE_Title-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.OtherWorkExperience).IsSelected && CVModel.CV.OtherExperience is not null)
            {
                @if (CVModel.CV.OtherExperience.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9"> OTHER WORK EXPERIENCE </label>
                    </div>
                }
                @foreach (var item in CVModel.CV.OtherExperience)
                {
                    <div class="justify-content-Left">
                        <label class="f-12">
                            @item.LocationName
                            <span class="f-12" style="float:right;">@item.Date.FullDate()</span>
                        </label>
                    </div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-10 fst-italic">@item.JobTitle</label>
                    </div>
                    <!--OtherEXPERIENCE_Data-->
                    @if (item.Data is not null)
                    {
                        @foreach (var data in item.Data)
                        {
                            <div class="d-flex justify-content-Left">
                                <label class="f-10">
                                    <strong>•</strong>
                                    &emsp;
                                    @if (data.IsLink)
                                    {
                                        <NavLink href="@data.Link" target="_blank">@data.Value</NavLink>
                                    }
                                    else
                                    {
                                        @data.Value
                                    }
                                </label>
                            </div>
                        }
                    }
                }
            }
        </div>
        <!--SKILLS_Title-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.Skills).IsSelected && CVModel.CV.Skills is not null)
            {
                @if (CVModel.CV.Skills.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9">SKILLS</label>
                    </div>
                }
                @foreach (var item in CVModel.CV.Skills)
                {
                    <div class="justify-content-Left">
                        <label class="f-12">
                            @item.SkillType
                        </label>
                    </div>
                    <!--SKILLS_Data-->
                    @if (item.Data is not null)
                    {
                        @foreach (var data in item.Data)
                        {
                            <div class="d-flex justify-content-Left">
                                <label class="f-10">
                                    <strong>•</strong>
                                    &emsp;
                                    @if (data.IsLink)
                                    {
                                        <NavLink href="@data.Link" target="_blank">@data.Value</NavLink>
                                    }
                                    else
                                    {
                                        @data.Value
                                    }
                                </label>
                            </div>
                        }
                    }
                }
            }
        </div>
        <!--Projects_Data-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.Projects).IsSelected && CVModel.CV.Projects is not null)
            {
                @if (CVModel.CV.Projects.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9"> PROJECTS </label>
                    </div>
                }
                <!--Projects_Data-->
                @foreach (var data in CVModel.CV.Projects)
                {
                    <div class="justify-content-Left" style="padding-bottom:2px">
                        <label class="f-10">
                            <strong>•</strong>
                            &emsp;
                            @if (data.IsLink)
                            {
                                <NavLink href="@data.Link" target="_blank">@data.Value</NavLink>
                            }
                            else
                            {
                                @data.Value
                            }
                        </label>
                    </div>
                }
            }
        </div>
        <!--HobbiesAndInterests_Data-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.HobbiesAndInterests).IsSelected && CVModel.CV.HobbiesAndInterests is not null)
            {
                @if (CVModel.CV.HobbiesAndInterests.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9"> @(("hobbies and interests").ToUpper()) </label>
                    </div>
                }
                <!--Projects_Data-->
                @foreach (var data in CVModel.CV.HobbiesAndInterests)
                {
                    <div class="justify-content-Left" style="padding-bottom:2px">
                        <label class="f-10">
                            <strong>•</strong>
                            &emsp;
                            @if (data.IsLink)
                            {
                                <NavLink href="@data.Link" target="_blank">@data.Value</NavLink>
                            }
                            else
                            {
                                @data.Value
                            }
                        </label>
                    </div>
                }
            }
        </div>
        <!--Certifications_Data-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.Certifications).IsSelected && CVModel.CV.Certifications is not null)
            {
                @if (CVModel.CV.Certifications.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9"> CERTIFICATIONS </label>
                    </div>
                }
                <!--Certifications_Data-->
                @foreach (var data in CVModel.CV.Certifications)
                {
                    <div class="justify-content-Left" style="padding-bottom:2px">
                        <label class="f-10">
                            <strong>•</strong>
                            &emsp;
                            @if (data.Data.IsLink)
                            {
                                <NavLink href="@data.Data.Link" target="_blank">@data.Data.Value</NavLink>
                            }
                            else
                            {
                                @data.Data.Value
                            }
                            <span class="f-12 float-end" style="margin:-2px">@data.Date.FullDate()</span>
                        </label>
                    </div>
                }
            }
        </div>
        <!--ProfessionalAffeilations_Data-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.ProfessionalAffiliations).IsSelected && CVModel.CV.ProfessionalAffiliations is not null)
            {
                @if (CVModel.CV.ProfessionalAffiliations.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9"> PROFESSIONAL AFFILIATIONS </label>
                    </div>
                }
                @foreach (var data in CVModel.CV.ProfessionalAffiliations)
                {
                    <div class="d-flex justify-content-Left">
                        <label class="f-10">
                            <strong>•</strong>
                            &emsp;@data.Value
                        </label>
                    </div>
                }
            }
        </div>
        <!--Refernces_Data-->
        <div class="Sub_container">
            @if (CVModel.CV.ListOfTabs.First(x => x.Tab == Tabs.Refernces).IsSelected && CVModel.CV.Refernces is not null)
            {
                @if (CVModel.CV.Refernces.Count > 0)
                {
                    <div class='_hr'></div>
                    <div class="d-flex justify-content-Left">
                        <label class="f-9"> REFERENCES </label>
                    </div>
                }
                <!--Certifications_Data-->
                <div class="row">
                    @foreach (var data in CVModel.CV.Refernces)
                    {
                        <div class="col-6 ">
                            <div class="card-body">
                                <label class="card-text f-12">@data.Name</label>
                                <label class="card-text f-10">@data.WorkPlace </label>
                                <label class="card-text f-10">@data.Address?.FullAddress()</label>
                                <label class="card-text f-10">@data.JobTitle </label>
                                <label class="card-text f-9-5">@data.Phone </label>
                                <label class="card-text f-10">@data.Email </label>
                                <label class="card-text f-10">
                                    @if (data.Data!.IsLink)
                                    {
                                        <NavLink href="@data.Data.Link" target="_blank">@data.Data.Value</NavLink>
                                    }
                                    else
                                    {
                                        @data.Data.Value
                                    }
                                </label>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}
@code
{
    protected override void OnInitialized() => UiUpdate.OnChange += StateHasChanged;
}