@inject CVModel CVmodel 
@page "/"
<div class="container CV_container"> 
		<!--PersonalData-->
		<div class="d-flex justify-content-center">
		<h1>@CVmodel.PersonalData?.Name </h1>
		</div> 
		<div class="d-flex justify-content-center">
		<h4>@CVmodel.PersonalData?.Address </h4>
		</div> 	
		<div class="d-flex justify-content-center">
		<h4>@CVmodel.PersonalData?.Phone &ensp; @CVmodel.PersonalData?.Email</h4>
		</div> 
		<!--<hr />-->
		<div class="_hr"></div>
		<!--EDUCATION_Title-->
		<div class="Sub_container">
			<div class="d-flex justify-content-Left">
				<h4><strong> EDUCATION </strong></h4>
			</div> 	
			@if (CVmodel.Educations is not null)
			{
			@foreach (var item in CVmodel.Educations)
			{
				<div class="d-flex justify-content-Left">
					<strong>@item.LocationName
						&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
						@item.Year</strong>
				</div>
				<!--EDUCATION_Data-->
				@if (item.Data is not null)
				{
					@foreach (var data in item.Data)
					{
						<div class="d-flex justify-content-Left">
							<strong>•</strong> &emsp; @data
						</div>
					}
				}
			}
		}
	</div>
		<!--<hr />-->
		<div class="_hr"></div>
		<!--EXPERIENCE_Title-->
		<div class="Sub_container">
			<div class="d-flex justify-content-Left">
				<h4><strong> BUSINESS EXPERIENCE </strong></h4>
			</div> 	
			@if(CVmodel.WorkExperience is not null){
			@foreach(var item in CVmodel.WorkExperience)
			{
			<div class="d-flex justify-content-Left">
				 <strong style="display:block">@item.LocationName
				 &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
				 @item.Year</strong></div>
				 <div class="d-flex justify-content-Left">
					@item.JobTitle
				</div>
			
			<!--EXPERIENCE_Data-->
			@if(item.Data is not null){
			@foreach(var data in item.Data)
				{
					<div class="d-flex justify-content-Left">
					 <strong>•</strong> &emsp; @data
					</div>
				}<br />
				}
			   }
		     }
		</div>
		<!--<hr />-->
		<div class="_hr"></div>
		<!--OtherEXPERIENCE_Title-->
		<div class="Sub_container">
			<div class="d-flex justify-content-Left">
				<h4><strong> OTHER WORK EXPERIENCE </strong></h4>
			</div> 	
			@if(CVmodel.OtherExperience is not null){
			@foreach (var item in CVmodel.OtherExperience)
			{
				<div class="d-flex justify-content-Left">
					<strong style="display:block">@item.LocationName
						&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
						@item.Year</strong></div>
				<div class="d-flex justify-content-Left">
					@item.JobTitle
				</div>

				<!--OtherEXPERIENCE_Data-->
				@if (item.Data is not null)
				{
					@foreach (var data in item.Data)
					{
						<div class="d-flex justify-content-Left">
							<strong>•</strong> &emsp; @data
						</div>
					}<br />
				}
			}
		}
		</div>
		<!--<hr />-->
		<div class="_hr"></div>
		<!--Certifications_Data-->
		<div class="Sub_container">
			<div class="d-flex justify-content-Left">
				<h4><strong> CERTIFICATIONS </strong></h4>
			</div> 	
			<!--Certifications_Data-->
			@if(CVmodel.Certifications is not null){
			@foreach(var data in CVmodel.Certifications)
				{
					<div class="d-flex justify-content-Left">
					 <strong>•</strong> &emsp; @data
					</div>
				}
			}
		</div>
		<!--<hr />-->
		<div class="_hr"></div>
		<!--ProfessionalAffeilations_Data-->
		<div class="Sub_container">
			<div class="d-flex justify-content-Left">
				<h4><strong> PROFESSIONAL AFFILIATIONS </strong></h4>
			</div> 	
			<!--ProfessionalAffeilations_Data-->
			@if(CVmodel.ProfessionalAffeilations is not null){
			@foreach(var data in CVmodel.ProfessionalAffeilations)
				{
					<div class="d-flex justify-content-Left">
					 <strong>•</strong> &emsp; @data
					</div>
				}
			}
		</div>
	<!--<hr />-->
		<div class="_hr"></div>
		<!--Refernces_Data-->
		<div class="Sub_container">
			<div class="d-flex justify-content-Left">
				<h4><strong> REFERENCES </strong></h4>
			</div> 	
			<!--Certifications_Data-->
		<div class="row">
			@if(CVmodel.Refernces is not null){
			@foreach(var data in CVmodel.Refernces)
			{
				<div class="col-sm-6 p-2">
				<div class="card-body">
					<h3 class="card-title" >@data.Name</h3>
					<p class="card-text">  @data.WorkPlace </p>
					<p class="card-text">  @data.Address </p>
					<p class="card-text">  @data.JobTitle </p>
					<p class="card-text">  @data.Phone </p>
					<p class="card-text">  @data.Email </p>
				 </div>
			</div>
			}
			}

		</div>
		</div>


</div>
@code{


	protected override void OnInitialized()
	{
		CVmodel.CVtype = CVType.Default;
	//Add Personal Data





	if(CVmodel.PersonalData is not null){
		CVmodel.PersonalData.Name = "Sharaf El Dean";
		CVmodel.PersonalData.Phone = "01220671021";
		CVmodel.PersonalData.Email = "Sharaf_1015@live.com";
		}
	//Add Education Data
	if(CVmodel.Educations is not null){
		CVmodel.Educations.Add(new() { LocationName = " Columbia Business School", Year = "1980—84" ,
		Data = new() {"	Cumulative GPA: 3.75",
		"Master of Business Administration",
		"Academic interests: accounting, mergers and acquisitions",
		"President, American Bankers Association" } });}
		//Add Work Experience Data
		if (CVmodel.WorkExperience is not null)
		{
			CVmodel.WorkExperience.Add(new()
				{
					LocationName = "Pierce & Pierce",
					Year = "1987—Present",
					JobTitle = "Vice President, Mergers and Aquisitions",
					Data = new()
					{
						"Lorem ipsum dolor sit amet, consectitur adipiscing elit",
						"Ut enim ad minim veniam, quis nostrud exercitation ullamco",
						"Duis aute irure dolor in reprehenderit in voluptate",
						"Excepteur sint occaecat cupidatat non proident, sunt in culpa "
					}
				});
			CVmodel.WorkExperience.Add(new()
				{
					LocationName = "Stratton Oakmont",
					Year = "1986",
					JobTitle = "Contract Manager ",
					Data = new()
					{
						"Ut enim ad minim veniam, quis nostrud exercitation ullamco",
						"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum",
						"Lorem ipsum dolor sit amet, consectitur adipiscing elit"
					}
				});
			CVmodel.WorkExperience.Add(new()
				{
					LocationName = "Goldman Sachs",
					Year = "1984—85",
					JobTitle = "Sales Associate ",
					Data = new()
					{
						"Excepteur sint occaecat cupidatat non proident, sunt in culpa",
						"Sed ut perspiciatis unde omnis iste natus error sit voluptatem quasi",
						"Sed ut perspiciatis unde omnis iste natus error sit voluptatem quasi",
						"Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut"
					}
				});
			CVmodel.WorkExperience.Add(new()
				{
					LocationName = "Lehman Brothers",
					Year = "May 1983",
					JobTitle = "Intern ",
					Data = new()
					{
						"Rem aperiam, eaque ipsa quae ab illo inventore sunt",
						"Duis aute irure dolor in reprehenderit in incidunt"
					}
				});
		}
		//Add Other Work Experience Data
		if (CVmodel.OtherExperience is not null)
		{
			CVmodel.OtherExperience.Add(new()
				{
					LocationName = "Cravath, Swaine, & Moore",
					Year = "1988",
					JobTitle = "Consultant ",
					Data = new()
					{
						"Unde omnis iste natus error sit voluptatem accusantium enim minim",
						"Lorem ipsum dolor sit amet, consectitur adipiscing elit sit"
					}
				});	}
			//Add Certifications Data
			CVmodel.Certifications?.Add("Certified Public Accountant");
			CVmodel.Certifications?.Add("Chartered Financial Analyst");
			//Add Professional Affeilations Data
			CVmodel.ProfessionalAffeilations?.Add("Business Professionals of America");
			CVmodel.ProfessionalAffeilations?.Add("The American Finance Association");
	
		//Add Education Data
		if (CVmodel.Refernces is not null)
		{
			CVmodel.Refernces.Add(new()
				{
					Name = "Jordan Belfort",
					WorkPlace = "Stratton Oakmont",
					JobTitle = "Chief Executive Officer",
					Phone = "(123) 456 7890",
					Email = "jordanbelfort@stratoak.com"
				});
			CVmodel.Refernces.Add(new()
				{
					Name = "Patrick Bateman",
					WorkPlace = "Pierce & Pierce",
					JobTitle = "Vice President",
					Phone = "(123) 456 7890",
					Email = "patbateman@pierceandpierce.com"
				});
			CVmodel.Refernces.Add(new()
				{
					Name = "Bernie Madoff",
					WorkPlace = "Bernard L. Madoff",
					Address = "Investment Securities LLC",
					JobTitle = "President",
					Phone = "(123) 456 7890",
					Email = "bernie@blmsecurities.com"
				});
			CVmodel.Refernces.Add(new()
				{
					Name = "Gordon Gekko",
					WorkPlace = "Gekko & Co. Investments",
					JobTitle = "President",
					Phone = "(123) 456 7890",
					Email = "ggekko@gekkoinvestments.com"
				});
		}
		//CVmodel.Educations.Add()


	}
}