 @page "/CV"
 @inject IJSRuntime JSRuntime
 @if (CVModel.CV is not null)
{
	<div class="container CV_container"> 
			<!--PersonalData-->
		<div class="d-flex justify-content-center">

			<h1>@CVModel.CV.PersonalData?.Name </h1>
			</div> 
			<div class="d-flex justify-content-center">
			<h4>@CVModel.CV.PersonalData?.Address </h4>
			</div> 	
			<div class="d-flex justify-content-center">
			<h4>@CVModel.CV.PersonalData?.Phone &ensp; @CVModel.CV.PersonalData?.Email</h4>
			</div> 
			<!--<hr />-->
	    <div class='@(CVModel.CV.Educations?.Count > 0  ? "_hr" :" ")'></div>
			<!--EDUCATION_Title-->
		<div class="Sub_container">
			@if (CVModel.CV.Educations is not null)
			{
				@if (CVModel.CV.Educations.Count > 0)
				{
						<div class="d-flex justify-content-Left">
							<h4><strong> EDUCATION </strong></h4>
						</div>
				}
				@foreach (var item in CVModel.CV.Educations)
				{
							<div class="d-flex justify-content-Left">
								<strong>@item.LocationName
									&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
							@item.Year</strong>
							</div>
							<!--EDUCATION_Data-->
					@if (item.Data is not null)
					{
						@foreach (var data in item.Data)
						{
											<div class="d-flex justify-content-Left">
												<strong>•</strong> &emsp; @data.Value
											</div>
						}
					}
				}

			}
		</div>
			<!--<hr />-->
	    <div class='@(CVModel.CV.WorkExperience?.Count > 0  ? "_hr" :" ")'></div>
			<!--EXPERIENCE_Title-->
		<div class="Sub_container">

			@if (CVModel.CV.WorkExperience is not null)
			{
				@if (CVModel.CV.WorkExperience.Count > 0)
				{
						<div class="d-flex justify-content-Left">
							<h4><strong> BUSINESS EXPERIENCE </strong></h4>
						</div>
				}
				@foreach (var item in CVModel.CV.WorkExperience)
				{
						<div class="d-flex justify-content-Left">
							 <strong style="display:block">@item.LocationName
							 &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
							@item.Year</strong></div>
							 <div class="d-flex justify-content-Left">
						@item.JobTitle
							</div>

						<!--EXPERIENCE_Data-->
					@if (item.Data is not null)
					{
						@foreach (var data in item.Data)
						{
										<div class="d-flex justify-content-Left">
										 <strong>•</strong> &emsp; @data.Value
										</div>
						}
						<br />
					}
				}
			}
			</div>
			<!--<hr />-->
	    <div class='@(CVModel.CV.OtherExperience?.Count > 0  ? "_hr" :" ")'></div>
			<!--OtherEXPERIENCE_Title-->
		<div class="Sub_container">
			@if (CVModel.CV.OtherExperience is not null)
			{
				@if (CVModel.CV.OtherExperience.Count > 0)
				{
						<div class="d-flex justify-content-Left">
						<h4><strong> OTHER WORK EXPERIENCE </strong></h4>
						</div>
				}
				@foreach (var item in CVModel.CV.OtherExperience)
				{
							<div class="d-flex justify-content-Left">
								<strong style="display:block">@item.LocationName
									&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
							@item.Year</strong></div>
							<div class="d-flex justify-content-Left">
						@item.JobTitle
							</div>

							<!--OtherEXPERIENCE_Data-->
					@if (item.Data is not null)
					{
						@foreach (var data in item.Data)
						{
											<div class="d-flex justify-content-Left">
												<strong>•</strong> &emsp; @data.Value
											</div>
						}
						<br />
					}
				}
			}
			</div>
			<!--<hr />-->
	    <div class='@(CVModel.CV.Certifications?.Count > 0  ? "_hr" :" ")'></div>
			<!--Certifications_Data-->
		<div class="Sub_container">
			@if (CVModel.CV.Certifications is not null)
			{
				@if (CVModel.CV.Certifications.Count > 0)
				{
						<div class="d-flex justify-content-Left">
						<h4><strong> CERTIFICATIONS </strong></h4>
						</div>
				}
					<!--Certifications_Data-->
				@foreach (var data in CVModel.CV.Certifications)
				{
								<div class="d-flex justify-content-Left">
								 <strong>•</strong> &emsp; @data.Value
								</div>
				}
			}
			</div>
			<!--<hr />-->
	    <div class='@(CVModel.CV.Certifications?.Count > 0  ? "_hr" :" ")'></div>
			<!--ProfessionalAffeilations_Data-->
		<div class="Sub_container">

				<!--ProfessionalAffeilations_Data-->
			@if (CVModel.CV.ProfessionalAffeilations is not null)
			{
				@if (CVModel.CV.ProfessionalAffeilations.Count > 0)
				{
						<div class="d-flex justify-content-Left">
						<h4><strong> PROFESSIONAL AFFILIATIONS </strong></h4>
						</div>
				}
				@foreach (var data in CVModel.CV.ProfessionalAffeilations)
				{
								<div class="d-flex justify-content-Left">
								 <strong>•</strong> &emsp; @data.Value
								</div>
				}
			}
			</div>
		<!--<hr />-->
	    <div class='@(CVModel.CV.Refernces?.Count > 0  ? "_hr" :" ")'></div>
			<!--Refernces_Data-->
		<div class="Sub_container">
			@if (CVModel.CV.Refernces is not null)
			{
				@if (CVModel.CV.Refernces.Count > 0)
				{
					<div class="d-flex justify-content-Left">
						<h4><strong> REFERENCES </strong></h4>
					</div> 	}
					<!--Certifications_Data-->
				<div class="row">
					@foreach (var data in CVModel.CV.Refernces)
					{
							<div class="col-sm-6 p-2">
							<div class="card-body">
								<h3 class="card-title" >@data.Name</h3>
								<p class="card-text">  @data.WorkPlace </p>
								<p class="card-text">  @data.Address </p>
								<p class="card-text">  @data.JobTitle </p>
								<p class="card-text">  @data.Phone </p>
								<p class="card-text">  @data.Email </p>
							 </div>
						</div>
					}

				</div>	
			}
		<div class="d-flex justify-content-Center">
				<button @onclick="DownloadFile" class="btn btn-primary">Download CV Raw Data as JSON</button>
		</div>
	</div>	
	</div>
}
@code {
	protected override void OnInitialized() => UiUpdate.OnChange += StateHasChanged;
	string json => JsonConvert.SerializeObject(CVModel.CV);	
	async Task DownloadFile() => await JSRuntime.InvokeAsync<object>("saveFile", json, "CV"); 
}