@using static DateData
@if ((CountryStates, Address) is (not null, not null))
{
    <div id='@Id' class="p-0">
        <div class="input-group  w-100">
            <InputText class="form-control " @bind-Value="@Address!.Street" placeholder="Enter Street" id="Street" maxlength="50" />
            <ValidationMessage For="@(()=>Address.Street)" />
        </div>
        <div class="input-group">
            <div class="w-50  pt-2" id="County" style="padding-right:2.5px;">
                <InputSelect class="form-control" aria-label="County" @bind-Value="@Address!.Country!.Id">
                    <option value="0" selected>Choose Country</option>
                    @foreach (var item in CountryStates)
                    {
                    <option value="@item.Country.Id">@item.Country.Name</option>
                    }
            </InputSelect>
            <ValidationMessage For="@(()=> Address!.Country!.Id)" />
        </div>
        @if (Address.Country is not null)
            {
                var x = States(Address.Country.Id);
                @if (Address.State is not null)
                {
                    StateId = Address.State.CountryId == Address.Country.Id ? StateId : 0;
                }
                @if (x?.Length > 0)
                {
                    <div class="w-25 p-2" id="State" p-2>
                        <InputSelect class="form-select" aria-label="State" @bind-Value="@StateId">
                            <option value="0" selected>Choose State</option>
                            @foreach (var item in x)
                            {
                    <option value="@item.Id">@item.Name</option>
                            }
            </InputSelect>
            <ValidationMessage For="@(()=>Address.State)" />
        </div>
                }
            }
            <div class="w-25 pt-2" style="padding-left:2.5px;">
                <InputText class="form-control " @bind-Value="@Address!.ZIPCode" placeholder="Enter ZIP" id="ZIP" maxlength="12" />
                <ValidationMessage For="@(()=>Address.ZIPCode)" />
            </div>
        </div>
    </div>
}